{% extends "base.html" %}
{% block main_content %}

<div class="container">
    <h2> Details </h2>
    <a href="{% url 'password_manager:details' entry.id %}" class="btn btn-danger" target="_blank">Open in new window</a>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>

        </thead>
        <tbody>
                <tr>
                    <td> <b> Site name </b></td>
                    <td> <b> {{entry.site_name}} </b></td>
                </tr>
                <tr>
                    <td> <b> Site url </b></td>
                    <td><a href="{{ entry.site_url }}" target="_blank"> <b> {{entry.site_url}} </b></a></td>
                </tr>
                <tr>
                    <td> <b> Login name </b></td>
                    <td> <b> {{entry.login_name}} </b></td>
                </tr>
                <tr>
                    <td> <b> Login password </b></td>
                    <td> <b> {{entry.login_password}} </b></td>
                </tr>
        </tbody>
    </table>
    {% if user_is_logged %}
        <a href= "{% url 'password_manager:entries' %}"><input type="button" value="Back to password list" class="btn btn-primary"/> </a>
    {% endif %}
</div>

{% endblock %}