{% extends "base.html" %}
{% block main_content %}

{% if logged_user %}
    <h3>
        You are logged in as: {{ logged_user }}
    </h3>
    {% if entries %}
    <div class="container">
        <h2> <b>My passwords</b> <p class="glyphicon glyphicon-lock"></p> </h2>
        <h4><a href="{% url 'password_manager:add_entry' %}" class="btn btn-primary">Add Password</a></h4>
        <table class="table">
            <thead>
                <tr>
                    <th> Site Name </th>
                    <th> Login Name </th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                    <tr>
                        <td> {{entry.site_name}}</td>
                        <td> {{entry.login_name}}</td>
                        <td> <a style="color:black" href = "{% url 'password_manager:delete_entry' entry.id %}"> <span class= "glyphicon glyphicon-trash" ></span></a></td>
                        <td> <a style="color:black" href = "{% url 'password_manager:edit_entry' entry.id %}"> <span class= "glyphicon glyphicon-wrench" ></span> Edit</a></td>
                        <td> <a style="color:black" href = "{% url 'password_manager:details' entry.id %}"> <span class= "glyphicon glyphicon-expand" ></span> Details</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p> No passwords to view, please add some </p>
        <a href="{% url 'password_manager:add_entry' %}" class="btn btn-primary">Add Password</a>
    {% endif %}

{% else %}
    <h3 style="text-align:center">Please log in</h3>
    <h3 style="text-align:center">If you don't have the account then register first</h3>
{% endif %}

{% endblock %}